@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Roboto:wght@300;500&display=swap');
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 35, 72);
}

.header{
    margin: 0px;
    font-size: 48px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: white;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 5px solid black;
}

.rows{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
}

.squares{
    /* border: 0.01em solid rgb(146, 146, 146); */
    flex: 1;
    user-select: none;
}

.menu{
    align-self: center;
    background-color: dimgray; 
    width: 40%;
    height: 100px;
    margin-top: 60px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
}
.btns{
        font-family: 'Roboto', sans-serif;
        width: 70px;
        height: 70px;
        border: none;
        border-radius: 50px;
        border: none;
        background: rgb(247, 247, 247);
        color: black; 
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.btns:hover{
    background-color: lightgray;
}

.btns+.selected{
    background-color: black;
    color: white;
}
