@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Titan+One&display=swap');
:root{
--background: #aad9ff;
--dark-pink: #d97b9a;
--border: #949494;
--button-color: #949494;
--button-selected: #5f97c4;
--button-width: 160px;
--button-height: 48px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    min-height: 100vh;
}
.bigwrapper{
    background-color: var(--dark-pink);
    border-radius: 24px;
    padding: 50px 120px;
}
.wrapper{
    display: flex;
    align-items: center;
}
.header{
    font-size: 64px;
    color: white;
    font-family: 'Titan One', cursive;
    text-align: center;
    margin-bottom: 60px;
}
.container{
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 5px solid var(--border);
}
.rows{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-start;
}
.squares{
    flex: 1;
    user-select: none;
}
.menu{
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.grid-size-container{
    display: flex;
    justify-content: space-between;
    width: var(--button-width);
}
.grid{
    width: 40px;
    font-size: 16px;
}
.color{
    position: relative;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}
input[type ='color']{
    position: absolute;
    right: 12px;
    width: 30px;
    height: 32px;
    background-color: transparent;
    border: none;
}
.grid{
    font-size: 16px;
    width: var(--button-height);
    height: var(--button-height);
    font-weight: 500;
    border: none;
    background-color: var(--button-color);
    color: white;
    border-radius: 4px;
}
.btns{
    background-color: var(--button-color);
    height: var(--button-height) ;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    width: var(--button-width);
    padding: 10px;
    color: white;
}
.brush{
    margin-bottom: 32px;
}
.label{
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
.grid.selected,.btns.selected{
    background-color: var(--button-selected);
}
.color-label{
    pointer-events: none;
}
.btns:hover,.grid:hover{
    background-color: var(--button-selected);
}
button.btns.selected.rainbow{
    background-image:linear-gradient(to right, #12c2e9,#c471ed,#f64f59);
}
.remove{
    margin-top: 48px;
}
button{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
