@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: crimson;
}

.header{
    margin: 0px;
    font-size: 48px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: lightgrey;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rows{
display: flex;
flex-direction: row;
flex: 1;
justify-content: flex-start;
}

.squares{
    border: 0.01em solid rgb(146, 146, 146);
    flex: 1;
}


